@font-face {
    font-family: "Montauk Regular";
    src: url("../assets/fonts/Montauk-Regular.otf");
}
@font-face {
    font-family: "Montauk Bold";
    src: url("../assets/fonts/Montauk-Bold.otf");
}
@font-face {
    font-family: "Montauk Italic";
    src: url("../assets/fonts/Montauk-Italic.otf");
}
@font-face {
    font-family: "Montauk Light";
    src: url("../assets/fonts/Montauk-Light.otf");
}

body {
    background-image: url(/assets/bgtexture.jpg);
}
.nav-link {
    color: #5F002B;
    font-family: 'Fugaz One', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    

}

.muzzlesLogo {
   padding-left: 25%;
    width: 100%;
}

ul{
   margin-right: 90px;
}

.heroHome{
    height: 100%;
    width: 100%;
    padding:0px;

}



.text{
    color: #5F002B;
    font-size: 20px;
   
    /* add font family */

}

.aboutMain{
        background-image: url(/assets/AboutMain.jpg);
        background-size: cover;
        height: 100%;
        
      
}

.mainTxt{
    color: #5F002B;
    font-family:'Fugaz One', sans-serif;
}

.txt{
    color: #5F002B;
    font-family: "Montauk Regular";

   

}

.footTxt{
    font-family: "Montauk";
    font-size: 20px;
    color: #5F002B;
}

.footerMargTop {
    padding: 0px;
    margin-bottom: -10px;
}
.footerMargBot {
    padding: 0px;
    margin-top: -10px;
}
