@font-face {
    font-family: Montauk;
    src: url(../assets/fonts/Montauk-Regular.otf);
}
@font-face {
    font-family: Fugaz One;
    src: url(../assets/fonts/FugazOne-Regular.ttf);
}
.woodBg {
    background-image: url(../assets/bgtexture.jpg);
}
.blankBg {
    background-color: white;
}
.navText {
    font-family: Fugaz One;
    font-size: 20px;
}
.redTxt {
    color: #5F002B;
}
.headerTxt {
    font-family: Fugaz One;
    font-size: 50px;
    color: #5F002B;
    text-align: center;
}
.menuFilltxt {
    font-size: 20px;
    font-family: Montauk;
    color: #5F002B;
}
.menuHeadtxt {
    font-family: Montauk;
    font-size: 30px;
    color: #5F002B;
}
.subHeadertxt {
    font-family: Fugaz One;
    font-size: 30px;
    color: #5F002B;
}
.menuBreak {
    color: #980051;
    border: solid 1px;
    margin-top: -10px;
    margin-bottom: 35px;
}